.titolo_azienda{
    margin-left: 10px;
    font-family: Arial, serif;
    color: #83a879;
}


.immagine_azienda img{
    border: 1px solid gray;
    border-radius: 10px;
}

.carattesristiche_azienda{
    color: #777777;
    font-size: 12px;
    font-family: "Harlow Solid Italic", serif;
}

.descrizione_azienda{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}
