.filtri{
    width: 900px;
    height: 300px;
    display:none;
    position: absolute;
    right:8%;
    top: 26%;
    border: 2px solid black;
    background-color: whitesmoke;
}

#rectangle {
    width: 1200px;
    height: 300px;
    border: 5px solid darkred;
    margin: 0 auto /*Necessario per centrare il rettangolo*/
}

#filter-button {
    margin-bottom: 50px;
    width: 250px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    z-index: -1;
    margin-top: 50px;
}

#close-button{
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    position: absolute;
    top:0;
    right:0;
}

/* Tag <hr> non visibile in modo da spaziare gli elementi gli uni dagli altri*/
#spacing{
    visibility: hidden;
    height: 30px;
}

.offerta{
    background-color: #76b718;
    color: #f2f2f2;
    margin-right: 30px;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    border-radius: 10px;
    margin-bottom: 30px;
}
