.promozione{
    margin-top: 20px;
    background-color: #76b718;
    color: #f2f2f2;
    margin-right: 30px;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.Titolo{
    z-index: -1;
    margin-top: 40px;
}

.utente{
    margin-top: 20px;
    background-color: #0a619f;
    color: #f2f2f2;
    margin-right: 30px;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px 30px;
    border-radius: 10px;
    margin-bottom: 80px;
}

.numeroCoupon{
    font-size: 30px;
    color: #5377d0;
}

.tipoStatistica{
    font-size: 30px;
    color: #777777;
}
